DATABASE_URL="postgresql://ideanick:ideanick@localhost:5432/ideanick?schema=public"
HOST_ENV=local
PORT=3000
JWT_SECRET=local-jwt-secret
PASSWORD_SALT=local-password-salt
INITIAL_ADMIN_PASSWORD=1234
WEBAPP_URL=http://localhost:8000
MAILER_HOST=
MAILER_USER=
MAILER_PASS=
FROM_EMAIL_ADDRESS=